.text-darkred {
    color: darkred;
}

.text-orange {
    color: orange;
}

.text-purple {
    color: purple;
}

.bg-darkred {
  background-color: darkred;
}

.bg-orange {
  background-color: orange;
}

.bg-purple {
  background-color: purple;
}

.icon-width {
  width: 20px;
}

